# Node Modules
node_modules/
todo-frontend/node_modules/
todo-backend/node_modules/

# Env Files
.env
todo-backend/.env
todo-frontend/.env

# Logs
npm-debug.log*
yarn-debug.log*

# Build
build/
dist/
